<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container-fluid">
    <h2 th:text=" 'Hello ' + ${#httpServletRequest.remoteUser} + ' !'">Login as</h2>
    <h4 th:text="${role}" style="text-transform: capitalize;">Role</h4>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Tambah User Baru
                </div>
                <div class="card-body">
                    <ul id="error-tambah-user" th:if="${errorFlagTambahUser}">
                        <li th:each="value : ${errorValueTambahUser}" th:text="${value}" style="color:red"></li>
                    </ul>
                    <form th:action="@{/user/addUser}" method="post">
                        <div class="row form-group">
                            <label for="" class="col-sm-4">User Name</label>
                            <input type="text" class="col-sm-8 form-control input-sm input-tambah-user" name="username">
                        </div>
                        <div class="row form-group">
                            <label for="" class="col-sm-4">Password: </label>
                            <input type="password" class="col-sm-8 form-control input-sm input-tambah-user" name="password" required pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,}" title="Password must be 8 characters including 1 letter and 1 numeric characters"/>
                        </div>
                        <div class="row form-group">
                            <label for="" class="col-sm-4">Role: </label>
                            <input type="text" class="col-sm-8 form-control input-sm input-tambah-user" name="role">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">Simpan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Update Password
                </div>
                <div class="card-body">
                    <div id="error" style="display: none">
                        <span style="color:red">Password Baru dan Konfirmasi Password Baru Harus Sama.</span>
                    </div>
                    <div id="error-from-past-update-password" th:if="${errorFlagUpdatePassword}">
                        <span style="color:red" th:text="${errorValueUpdatePassword}"></span>
                    </div>
                    <ul id="error-update-password" th:if="${errorListFlagUpdatePassword}">
                        <li th:each="value : ${errorListValueUpdatePassword}" th:text="${value}" style="color:red"></li>
                    </ul>
                    <form th:action="@{/user/updatePassword}" method="post">
                        <div class="row form-group">
                            <label for="" class="col-sm-4">Password Lama</label>
                            <input type="password" class="col-sm-8 form-control input-sm input-update-password" name="passwordLama" required>
                        </div>
                        <div class="row form-group">
                            <label for="" class="col-sm-4">Password: </label>
                            <input id="passwordBaru" type="password" class="col-sm-8 form-control input-sm input-update-password" name="passwordBaru" required pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,}" title="Password must be 8 characters including 1 letter and 1 numeric characters"/>
                        </div>
                        <div class="row form-group">
                            <label for="" class="col-sm-4">Konfirmasi Password Baru: </label>
                            <input id="passwordBaruKonfirmasi" type="password" class="col-sm-8 form-control input-sm input-update-password" name="passwordBaruKonfirmasi" required>
                        </div>
                        <div>
                            <button id="button-submit" type="submit" class="btn btn-primary" disabled>Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Cari Dealer berdasarkan Id
                </div>
                <form th:action="@{/dealer/view}" method="GET">
                    <div class="card-body">
                        <label for="dealerId">Id Dealer:</label>
                        <input type="text" name="dealerId" class="form-control" />
                        <button type="submit" class="btn btn-primary">Cari</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#passwordBaruKonfirmasi").on("input", function() {
        if ($(this).val() == $("#passwordBaru").val()) {
            $("#error").css("display", "none");
            $("#button-submit").removeAttr("disabled");
        } else {
            $("#error").css("display", "block");
        }
    });
    $("#passwordBaru").on("input", function() {
        if ($(this).val() == $("#passwordBaruKonfirmasi").val()) {
            $("#error").css("display", "none");
            $("#button-submit").removeAttr("disabled");
        } else {
            $("#error").css("display", "block");
        }
    });
    $(".input-tambah-user").on("input", function() {
        $("#error-tambah-user").css("display", "none");
    });
    $(".input-update-password").on("input", function() {
        $("#error-update-password").css("display", "none");
        $("#error-from-past-update-password").css("display", "none");
    });
</script>
</body>
</html>